.blogBody{background:#f7f9fe} 
.blogPage{margin:40px 0 0 0;}
.blogPage nav{display:flex; flex-wrap:wrap; flex-direction:column;}
.cdbreadcrumb{margin:0 0 25px 0;padding:0 1.2em; background-color: #edeff0; border-radius: .25em;}
.cdbreadcrumb::after{clear: both; content: ""; display: table;}
.cdbreadcrumb li{display:inline-block; float:left;}
.cdbreadcrumb li::after{display:inline-block; content:'\00bb'; margin:0 .6em; color:#959fa5;}
.cdbreadcrumb li:last-of-type::after{display: none;}
.cdbreadcrumb li > *{display: inline-block; color: #2c3f4c; padding:10px 0;}
.cdbreadcrumb li.current > *{color: #96c03d; font-style: normal;}
.no-touch .cdbreadcrumb a:hover{color: #96c03d;}
.cdbreadcrumb.custom-separator li::after{content: ''; height: 16px; width: 16px; background: url(https://codyhouse.co/demo/breadcrumbs-multi-steps-indicator/img/cd-custom-separator.svg) no-repeat center center; vertical-align: middle;}
.cdbreadcrumb.custom-icons li > *::before{content: ''; display: inline-block; height: 20px; width: 20px; margin-right: .4em; margin-top: -2px; background: url(https://codyhouse.co/demo/breadcrumbs-multi-steps-indicator/img/cd-custom-icons-01.svg) no-repeat 0 0; vertical-align: middle;}
@media only screen and (min-width:768px) {
  .cdbreadcrumb li::after{margin:0 1em;}
}
.blogPage .container{display:flex; justify-content: space-between; padding: 0 15px; max-width: 1125px; margin: 0 auto; position:relative;}
.blogLeft{width:67.5%;}
.blogLeft h1{margin:0 0 20px 0; color:#273954; font-size:24px}
.pageContent{margin: 10px 0 0 0}
.pageContent p{color:#0d0d0d; font-size:18px; line-height:29px; font-weight:300; margin:0 0 20px 0}
.pageContent p a{color:#d33f42; text-decoration:underline;}
.blogSearch{margin:20px 0 0 0}
.blogSearch input[type="text"]{height:56px; border:none; font-size:16px; box-shadow:0 10px 20px 0 rgba(0,0,0,.08); width:100%; padding:0 20px; line-height:normal; border-radius:10px; color:#93a3bb}
.blogSearch ::-webkit-input-placeholder{color:#93a3bb; opacity:1;}
.blogPage .storiesListing article{background:#fff; box-shadow:0 10px 20px 0 rgba(0,0,0,.08); border-radius:10px; overflow:hidden;}
.blogPage .storiesListing article img{border-radius:0}
.blogPage .articleCont{padding:10px 20px 15px}
.blogPage .storiesListing article h4{margin:15px 0 5px}
#sidebar{width:29%;}
#sidebar .widgetAside:last-child{position:sticky; position:-webkit-sticky; top:0; left:0; width:100%; z-index:1; top:70px}
.widgetAside{background:#FFFFFF; box-shadow:0px 4px 10px rgba(0, 0, 0, 0.08); border-radius:10px; padding:20px 20px 15px; width:100%; float:left; margin:0 0 40px 0;}
.widgetAside h3{color:#273954; margin:0; font-weight:700; font-size:18px; line-height:36px;}
.widgetAside ul{list-style:none; margin:0; padding:0;}
.widgetAside ul li{border-bottom:1px solid #dfdfdf; padding:17px 0 8px;}
.widgetAside ul li:last-child{border-bottom:none;padding-bottom:0;}
.widgetOb{width:64px; float:left; margin:0 15px 0 0;}
.widgetAside ul li img{border-radius:5px; float:left; box-shadow:2px 2px 10px 2px rgb(0 0 0 / 5%);}
.widgetAside ul li span.catName{margin:0; display:inline-block; vertical-align:top; line-height:normal; margin:2px 0 0 0}
.widgetAside ul li span.catName a{font-size:13px; line-height:18px}
.widgetAside ul li p{font-size:14px; line-height:20px; font-weight:700; margin:0; clear:none;}
.widgetAside ul li .widgetOv{overflow:hidden;}
.widgetAside ul li a{display:inline-block; vertical-align:top; color:#000000; position:relative;}
.widgetAside.widgetAsideBrowse ul{padding:0 0 0 20px;}
.widgetAside.widgetAsideBrowse ul li{padding:0; list-style:disc;}
.widgetAside.widgetAsideBrowse ul li::marker{color:#022453;}
.widgetAside.widgetAsideBrowse ul li a{display:block; padding:10px 0;}

@media(max-width:767px){
  .blogPage{margin:25px 0 0 0}
  .blogPage .container{flex-wrap:wrap;}
  .blogLeft{width: 100%}
  .storiesListing article{padding:0}
  #sidebar{width: 100%; margin:20px 0 0 0}
}