.button{text-align:center; display:inline-block; vertical-align:top; background:#d4403f; color:#fff; font-family: 'Roboto', sans-serif; font-weight:300; border:none; line-height:inherit; font-size:18px; padding:18px 55px; cursor:pointer; transition:all ease .3s; position:relative; z-index:1}
.button:before{width:0; left:0; top:0; height:100%; position:absolute; content:""; transition:all ease .3s; background:#e8005e; z-index:-1}
.button:hover:before{width:100%}
.cdbreadcrumb{margin:0 0 25px 0;padding:0 1.2em; background-color: #edeff0; border-radius: .25em;}
.cdbreadcrumb::after{clear: both; content: ""; display: table;}
.cdbreadcrumb li{display:inline-block; float:left;}
.cdbreadcrumb li::after{display:inline-block; content:'\00bb'; margin:0 .6em; color:#959fa5;}
.cdbreadcrumb li:last-of-type::after{display: none;}
.cdbreadcrumb li > *{display: inline-block; color: #2c3f4c; padding:10px 0;}
.cdbreadcrumb li.current > *{color:#319795; font-style: normal;}
.no-touch .cdbreadcrumb a:hover{color: #96c03d;}
.cdbreadcrumb.custom-separator li::after{content: ''; height: 16px; width: 16px; background: url(https://codyhouse.co/demo/breadcrumbs-multi-steps-indicator/img/cd-custom-separator.svg) no-repeat center center; vertical-align: middle;}
.cdbreadcrumb.custom-icons li > *::before{content: ''; display: inline-block; height: 20px; width: 20px; margin-right: .4em; margin-top: -2px; background: url(https://codyhouse.co/demo/breadcrumbs-multi-steps-indicator/img/cd-custom-icons-01.svg) no-repeat 0 0; vertical-align: middle;}
@media only screen and (min-width:768px) {
  .cdbreadcrumb li::after{margin:0 1em;}
}

.workPage{margin:40px 0 0 0;}
.container {
  padding: 0 15px;
  max-width: 1125px;
  margin: 0 auto;
  position: relative;
}
.workPage .container{display:flex; justify-content: space-between;}
.workListing{width:74%; margin:0 0 0 1%}
.workListing h1{margin:0; color:#273954; font-size:20px}
.sidebarFilter{background:#fff; width:25%}
.sidebarFilter h2{margin:0; color:#273954; font-size:20px; border-bottom:1px solid #f3f5f5; padding:0 0 15px 0;}
.filterBlock{margin:30px 0 0 0}
.filterBlock h3{margin:0 0 15px 0; color:#b1b1b1; font-size:14px; line-height:14px; font-weight:400; text-transform:uppercase;}
.filterBlock ul{list-style:none; margin:0; padding:0;}
.filterBlock ul li{display:flex; align-items:center; margin:0 0 15px; cursor:pointer; font-weight:500}
.filterBlock ul li span{width:26px; height:26px; background:#fff; display:inline-block; vertical-align:top; border-radius:8px; box-shadow:0 10px 20px 0 rgba(0,0,0,.08); margin:0 15px 0 0; border:1px solid #b1b1b1}
.filterBlock ul li.active span{background:#d33f42; border:1px solid transparent; position:relative; text-align:center;}
.filterBlock ul li.active span:before{content:"";  display:inline-block; transform: rotate(45deg); height:15px; width:6px; border-bottom:3px solid #fff; border-right:3px solid #fff;}

.blogSearch{margin:20px 0 0 0}
.blogSearch input[type="text"]{height:56px; border:none; font-size:16px; box-shadow:0 10px 20px 0 rgba(0,0,0,.08); width:100%; padding:0 20px; line-height:normal; border-radius:10px; color:#93a3bb}
.blogSearch ::-webkit-input-placeholder{color:#93a3bb; opacity:1;}

.storiesListingIn {
  display: grid;
  flex: 1 1 calc(100% - 325px);
  grid-gap: 25px;
  margin: 50px 0 40px 0;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr))
}

.storiesListing article.fullStory {
  display: flex;
}

.storiesListing article.fullStory .articleLogo {
  width: 40%;
  order: 2
}

.storiesListing article.fullStory .articleCont {
  width: 60%;
  padding: 0 60px 0 0
}

.storiesListing article.fullStory h4 {
  font-size: 34px;
  line-height: 44px;
}

.storiesListing article.fullStory p {
  font-size: 19px;
  line-height: 29px;
  font-weight: 300;
  margin: 10px 0 0 0
}

.storiesListing article {
  margin: 0 0 20px 0;
}

.storiesListing article img {
  box-shadow: 2px 2px 10px 2px rgb(0 0 0 / 15%);
  border-radius: 10px;
  transform: translate3d(0, 0, 0);
  transition: all ease .3s;
  width: 100%;
}

.storiesListing article:hover img {
  transform: scale(.8);
  box-shadow: 0 20px 25px rgb(0 0 0 / 25%);
}

.storiesListing article span {
  margin: 20px 0 0 0;
  font-size: 14px;
  line-height: 14px;
  color: #191919;
  display: inline-block;
  vertical-align: top;
}

.storiesListing article span a {
  font-weight: 600;
  color: #6359A6;
}

.storiesListing article h4 {
  margin: 8px 0 0 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
}

.storiesListing article h4 a {
  color: #000;
}

.storiesListing article h5 {
  margin: 12px 0 0 0;
  font-size: 14px;
  line-height: 14px;
  color: #191919;
}

.storiesListing article h5 a {
  color: #000;
  opacity: .6;
}

.articleCont p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.technologiesUsed {
  padding: 12px 0 0 0;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.technologiesUsed h3 {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  font-weight: 400
}

.technologiesUsed small {
  display: inline-block;
  vertical-align: top;
  line-height: 22px;
  font-size: 12px;
  padding: 0 4px;
  color: #ce6644;
  border: 1px solid #ce6644;
  border-radius: 4px;
  margin: 0 0 0 6px}